@import url('https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet|Quicksand|Barlow');
:root {
    --primary-color: #a88047;
    --secondary-color: #6c757d;
    --text-color: #333333;
  }



.main_img {
  height: 400px;
  
}
.main_text{
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  color: #4c351f;
  gap: 30px;
}
.example::-webkit-scrollbar {
  display: none;
}
.footer{
    margin-top: 150px;
    padding-top: 20px;
    background: #897563;
    color: #ffeed4;
}
.navbar {
  background: rgb(80, 56, 48) !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.card {
  box-shadow: 15px 15px 20px rgb(97, 72, 63) ;
}

#container{
    display: flex;
    flex-direction: column;
    margin: 80px 50px 50px 50px;
    padding-right: 100px;
    padding-left: 100px;

}
.card-header:hover {
  background: rgb(11, 22, 83) !important;
  color: whitesmoke !important;
  transition: 0.1s ease-in;
}

a {
  text-decoration: none !important;
  color: rgb(86, 56, 41);
}

a:hover {
  text-decoration: none;
  color: black;
}

.custom-header:hover {
  background: rgb(143, 189, 186) !important;
}

.card-header {
  color: black !important;
  background: rgb(152, 214, 230) !important;
  transition: 0.3s ease-in;
}

.nav-link:hover {
  background: black !important;
  color: white !important;
  transition: 0.7s ease;
}

.icon-bar {
  color: black;
}

.card-body{
    background: rgb(251, 244, 231);
}
.card h4 {
  margin: 40px 40px 0 40px;
  text-align: left;
}

.card h6 {
  margin: 25px 40px 0 40px;
  text-align: left;
}

.card p {
  text-align: right;
  margin-right: 50px;
  line-height: 10px;
}

.button {
  display: inline-block;
  font-family: 'Montserrat', 'Trebuchet MS', Helvetica, sans-serif;

  padding: 0.8em 1.4em;
  padding-right: 4.7em;
  background: #009ed8;
  border: none;
  color: white;
}

.card img {
  height: 210px;
}

/* .card:hover {
    opacity: 0.9;
    transform: scale(1.02);
    transition: 0.5s ease;
} */

html,
body {
  background: #ffeed4;
  height: 120%;
   margin: 0;
   padding: 0;
}



.card-header {
  background-color: rgb(133, 204, 231);
}

.myimage {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.card-img-top:hover {
  opacity: 0.9;
  transform: scale(1.02);
  transition: 0.2s ease;
}

.col-md-3 .card {
  width: 100%;
  height: 100%;
}

.btn:hover {
  background: black;
  color: white;
  border: 0.5px solid white;
}

.fa:hover {
  color: red;
}

.fa {
  color: black;
}

.profa {
  color: black;
}

footer .container-fluid {
  padding: 10vmin 10vmin;
}

footer .column a + a {
  padding: 0 0.7em;
}

#comfort{
    color: #dddddd;
    font-size: 25px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

/* 
.content-section a:hover {
    background: red;
} */

.account-img {
  height: 125px !important;
  width: 125px !important;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
